ul.list-group{
    list-style: none;
    border: 1px solid #7bb7fa;
    max-width: 400px;
    border-radius: 2px;
    background-color: white;
}
.list-group li:not(:first-child){
    border-top: 1px solid #7bb7fa;
}
.list-group li{
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
}
.list-group li .badge{
    float: right;
    background-color: #0ac2d2;
    border-radius: 9px;
    color: white;
    padding: 0 5px;
    font-weight: bold;
    line-height: 20px;
}
